
@import url('https://fonts.googleapis.com/css2? family= Black+Ops+One & family= Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600; 0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & familia = Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0 ,700;0,800;0,900; 1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

/*!----------RESET----------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Black Ops One', cursiva;
    font-family: 'Exo 2', sans-serif;
}

/*!----------HEADER----------*/
header{
    background-color: #0f0f0f;
}
.navbar{
    padding: 0px 0px 10px 0px;
    line-height:normal;
}

.Header_Navbar_Contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.Header_Contenedor{
    display: flex;
}

.boton_navbar{
    background-color:red;
    margin: 0px 10px 0px 0px;
}

.logo_navbar{
    margin: 0;
    padding: 0;
}

.barra_de_busqueda{
    margin:0;
    padding: 0;
    margin-left: 15px;
}

.Header_Contenedor a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 900;
    color: red;
}

.Header_Contenedor a span{
    color: white;
}

.Header_Contenedor form input{
    border: solid 2px red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 5px;
}

.Header_Contenedor form button{
    padding: 6px;
    border-radius: 10px;
    border: solid 2px red;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.Navbar_Contenedor ul{
    padding: 0;
}

.Navbar_Contenedor ul li a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 60px 0px 60px;
    background-color: black;
    border: solid 2px red;
    border-radius: 10px;  
    text-align: center;
}

/*!----------MAIN----------*/


.ofertas_imperdibles h2{
    text-align: center;
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight:600;
    border: solid 2px red;
    margin: 0;
}

.productos_ofertas_imperdibles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos_ofertas_imperdibles div img{
    width: 250px;
    height: 250px;
}

.tarjetas_de_producto_ofertas_imperdibles{
    width: 254px;
    height: 100%;
    border: 2px solid red;
    box-shadow: 0px 0px 5px 3px black;
    margin: 10px;
    text-align: center;
    background-color:#0f0f0f;
    padding-bottom: 15px;
    line-height: 1.2;
}

.productos_ofertas_imperdibles div h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight:600;
    color: white;
    margin: 5px 0px 0px 0px;
}

.ofertas_imperdibles_descripcion_producto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight:100;
    color: white;
    margin: 5px 0px 0px 0px;
    text-align: left;
}

.ofertas_imperdibles_precio_normal_y_porcentaje_de_descuento_contenedor{
    display: flex;
    justify-content: space-around;
    margin: 5px 0px 0px 0px;
}

.ofertas_imperdibles_porcentaje_de_descuento{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight:600;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 2px;
    margin: 0;
}

.ofertas_imperdibles_precio_normal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: white;
    margin: 0;
}

.ofertas_imperdibles_precio_producto_con_transferencia{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight:600;
    color:rgb(0, 194, 0);
    margin: 5px 0px 10px 0px;
    text-align: left;
    margin: 5px 0px 0px 0px;
}

.ofertas_imperdibles_precio_producto_otros_medios_de_pago{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight:100;
    color:white;
    margin: 5px 0px 15px 0px;
    text-align: left;
}

.productos_ofertas_imperdibles div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border: solid 2px red;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight:600;
}

.te_puede_interesar h2{
    text-align: center;
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight:600;
    border: solid 2px red;
    margin: 0;
}

.productos_te_puede_interesar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos_te_puede_interesar div img{
    width: 250px;
    height: 250px;
}

.tarjetas_de_producto_te_puede_interesar{
    width: 254px;
    height: 100%;
    padding-bottom: 15px;
    border: 2px solid red;
    box-shadow: 0px 0px 5px 3px black;
    margin: 10px;
    text-align: center;
    background-color: #0f0f0f;
    line-height: 1.2;
}

.productos_te_puede_interesar div h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight:600;
    color: white;
    margin: 10px;
}

.te_puede_interesar_descripcion_producto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight:100;
    color: white;
    margin: 5px 0px 0px 0px;
    text-align: left;
}

.te_puede_interesar_precio_normal_y_porcentaje_de_descuento_contenedor{
    display: flex;
    justify-content: space-around;
    margin: 5px 0px 0px 0px;
}

.te_puede_interesar_porcentaje_de_descuento{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight:600;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 2px;
    margin: 0;
}

.te_puede_interesar_precio_normal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: white;
    margin: 0;
}

.te_puede_interesar_precio_producto_con_transferencia{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight:600;
    color:rgb(0, 194, 0);
    margin: 5px 0px 10px 0px;
    text-align: left;
    margin: 5px 0px 0px 0px;
}

.te_puede_interesar_precio_producto_otros_medios_de_pago{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight:100;
    color:white;
    margin: 5px 0px 15px 0px;
    text-align: left;
}

.productos_te_puede_interesar div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border: solid 2px red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight:600;
    border-radius: 10px;
}

.conoce_nuestros_servicios h2{
    text-align: center;
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight:600;
    border: solid 2px red;
    margin: 0;
}

.conoce_nuestros_servicios_contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conoce_nuestros_servicios_contenedor div img{
    width: 330px;
    height: 350px;
}

.conoce_nuestros_servicios_contenedor div{
    width: 334px;
    height: 430px;
    border: 2px solid red;
    box-shadow: 0px 0px 5px 3px black;
    margin: 10px;
    text-align: center;
    background-color: #0f0f0f;
}

.conoce_nuestros_servicios_contenedor h3{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 16px;
    font-weight:600;
}

.conoce_nuestros_servicios_contenedor div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border: solid 2px red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight:600;
    border-radius: 10px;
}

/*!----------FOOTER----------*/

footer{
    background-color: #0f0f0f;
    padding-top: 10px;
}

.Footer_Contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer_ZeroLag{
    margin-left: 15px;
}

.Footer_ZeroLag h2{
    color:red;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin-bottom: 0;
}

.Footer_ZeroLag p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 12px;
    margin-bottom: 0;
}

.Medios_De_Pago h3{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin-left: 2px;
    margin-bottom: 0;
}

.imagenes_medios_de_pago{
    display: flex;
    flex-wrap: wrap;
}

.imagenes_medios_de_pago img{
    margin: 2px 4px 2px 4px;
}

.Redes_Sociales{
    margin-right: 15px;
    margin-top: 15px;
}

.Redes_Sociales h3{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 100;
}

.Redes_Sociales a img{
    height: 30px;
    width: 30px;
    margin: 2px 2px 2px 2px;
    border-radius: 10px;
}

.Derechos_De_Autor{
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: black;
}

.Derechos_De_Autor p{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}

/*!----------NOSOTROS----------*/

.Quienes_Somos h2{
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 55px;
    font-weight: 900; margin: 5px 20px 5px 20px;
    text-shadow: -2px -2px 3px red;
}

.Quienes_Somos_Contenedor img{
    width: 400px;
    height: 200px;
    margin-right: 20px;
    box-shadow: 0px 0px 5px 3px black;
    color: black;
}

.Quienes_Somos_Contenedor{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
}

.Quienes_Somos_Contenedor div p{
text-align: justify;
margin-left:  20px;
margin-top: 10px;
margin-bottom: 0;
width: 90%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: black;
}

.Nuestra_Mision h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    font-weight: 900;
    margin: 5px 20px 5px 20px;
    text-shadow: -2px -2px 3px red;
    color: black;
}

.Nuestra_Mision_Contenedor{
    display: flex;
    justify-content: space-between;
}

.Nuestra_Mision_Contenedor img{
    width: 468px;
    height: 268px;
    margin-right: 20px;
    box-shadow: 0px 0px 5px 3px black;
}

.Nuestra_Mision_Contenedor p{
    text-align: justify;
    margin-left:  20px;
    margin-top: 10px;
    margin-bottom: 0;
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
}

.Lo_Que_Nos_Diferencia h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    font-weight: 900;
    color:black;
    margin: 5px 20px 5px 20px;
    text-shadow: -2px -2px 3px red;
}

.Lo_Que_Nos_Diferencia_Contenedor img{
    width: 468px;
    height: 268px;
    margin-right: 20px;
    box-shadow: 0px 0px 5px 3px black;
}

.Lo_Que_Nos_Diferencia_Contenedor{
    display: flex;
    justify-content: space-between;
}

.Lo_Que_Nos_Diferencia_Contenedor div p{
    text-align: justify;
    margin-left:  20px;
    margin-top: 10px;
    margin-bottom: 0;
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
}

.Nuestros_Valores h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    font-weight: 900;
    color:black;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: -2px -2px 3px red;
}

.Nuestros_Valores_Contenedor{
    display: flex;
    justify-content: space-evenly;
}

.Nuestros_Valores_Contenedor div{
border: 2px solid red;
box-shadow: 0px 0px 5px 3px black;
border-radius: 10px;
width: 355px;
height: 640px;
text-align: center;
margin: 10px;
background-color: #0f0f0f;
}

.Nuestros_Valores_Contenedor div img{
    width: 350px;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.Nuestros_Valores_Contenedor div h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 10px 10px 10px 10px;
    color: white;
    font-weight:100;
    line-height:normal;
}

.Nuestros_Valores_Contenedor div p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 100;
    text-align: justify;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    line-height:normal;
}

.Revolución_Digital h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: 5px 20px 5px 20px;
    text-shadow: -2px -2px 3px red;
    line-height: normal;
    color: black;
}

/*!----------PRODUCTOS----------*/

.Productos h2{
font-family: 'Courier New', Courier, monospace;
font-size: 55px;
font-weight: 900; margin: 5px 20px 5px 20px;
text-shadow: -2px -2px 3px red;
color:black;
}

.Productos_Contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tarjetas_de_productos_productos{
    width: 254px;
    height: 100%;
    border: 2px solid red;
    box-shadow: 0px 0px 5px 3px black;
    margin: 10px;
    text-align: center;
    background-color:#0f0f0f;
    padding-bottom: 15px;
    line-height: 1.2;
}

.Productos_Contenedor div img{
    width: 250px;
    height: 250px;
}

.Productos_Contenedor div h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight:600;
    color: white;
    margin: 10px;
}

.productos_descripcion_producto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight:100;
    color: white;
    margin: 5px 0px 0px 0px;
    text-align: left;
}

.productos_precio_normal_y_porcentaje_de_descuento_contenedor{
    display: flex;
    justify-content: space-around;
    margin: 5px 0px 0px 0px;
}

.productos_porcentaje_de_descuento{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight:600;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 2px;
    margin: 0;
}

.productos_precio_normal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: white;
    margin: 0;
}

.producto_precio_producto_con_transferencia{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight:600;
    color:rgb(0, 194, 0);
    margin: 5px 0px 10px 0px;
    text-align: left;
    margin: 5px 0px 0px 0px;
}

.producto_precio_producto_otros_medios_de_pago{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight:100;
    color:white;
    margin: 5px 0px 15px 0px;
    text-align: left;
}

.Productos_Contenedor div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border: solid 2px red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight:600;
}

/*!----------SERVICIOS----------*/

.Servicios h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    font-weight: 900; 
    margin: 5px 20px 5px 20px;
    text-shadow: -2px -2px 3px red;
    color: black;
}

.Servicios_Contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Servicios_Contenedor div img{
    width: 496px;
    height: 350px;
}

.Servicios_Contenedor div{
    width: 500px;
    height: 770px;
    border: 2px solid red;
    box-shadow: 0px 0px 5px 3px black;
    text-align: center;
    margin: 10px;
    background-color: #0f0f0f;
}

.Servicios_Contenedor div h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 900;
    margin: 10px 10px 10px 10px;
    color: white;
}

.Servicios_Contenedor div p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 10px 10px 10px 10px;
    color:white;
    line-height:normal;
    font-weight: 100;
}

.Servicios_Contenedor div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border: solid 2px red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight:600;
}

/*!----------CONTACTANOS----------*/

.Formulario h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    font-weight: 900;
    margin: 5px 20px 5px 20px;
    text-shadow: -2px -2px 3px red;
    color: black;
}

.Formulario_Contenedor{
    display: flex;
    justify-content: center;
}

.Formulario_Contenedor form{
    box-shadow: 0px 0px 5px 3px black;
    border: 2px solid red;
    width: 70%;
    background-color: #0f0f0f;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.Formulario_Contenedor form div label{
    margin: 5px 20px 5px 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Nombre{
    display: flex;
    flex-direction: column;
}

.Apellido{
    display: flex;
    flex-direction: column;
}

.Correo{
    display: flex;
    flex-direction: column;
}

.Contraseña{
    display: flex;
    flex-direction: column;
}

.Mensaje{
    display: flex;
    flex-direction: column;
}

 .Nombre input{
    border: 2px solid red;
    margin: 5px 20px 5px 20px;
    width: 40%;
 }

 .Apellido input{
    border: 2px solid red;
    margin: 5px 20px 5px 20px;
    width: 40%;
 }

 .Correo input{
    border: 2px solid red;
    margin: 5px 20px 5px 20px;
    width: 40%;
 }

 .Contraseña input{
    border: 2px solid red;
    margin: 5px 20px 5px 20px;
    width: 40%;
 }

.Genero div input{
    margin: 5px 0px 5px 0px;
}

.Pais{
    display: flex;
    flex-direction: column;
}
 .Pais select{
   border: 2px solid red;
   margin: 5px 20px 5px 20px;
   width: 40%;
 }

 .Motivo {
    display: flex;
    flex-direction: column;
 }

 .Motivo select{
    border: 2px solid red;
    margin: 5px 20px 5px 20px;
    width: 40%;
 }

.Mensaje textarea{
    margin: 5px 20px 5px 20px;
    border: 2px solid red;
}

.EnviarRestablecer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: end;
}

.EnviarRestablecer input{
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color:white;
}

.Informacion_Contacto{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Contacto_Contenedor h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.Contacto_Contenedor p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: black;
}

.Informacion_Contacto iframe{
    box-shadow: 0px 0px 5px 2px black;
    border-radius: 10px;
}

/*!-----EXPERIENCIA GRID-----*/
.Experiencia_ZeroLag{
    padding: 10px 20px 0px 20px;
}

.Experiencia_ZeroLag h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    font-weight: 900;
    color: black;
    text-shadow: -2px -2px 3px red;
}

.Experiencia_ZeroLag p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
    text-align: justify;
}

.grid-galeria-experiencia{
    width: 100%;
    padding: 10px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 30px;
}

.grid-item-experiencia{
    position:relative;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: -2px -2px 20px 5px rgba(0,0,0,0.93);
    -webkit-box-shadow: -2px -2px 20px 5px rgba(0,0,0,0.93);
    -moz-box-shadow: -2px -2px 20px 5px rgba(0,0,0,0.93);
}

.grid-item-experiencia p{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.658);
    width: 100%;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight:100;
    font-style: italic;
    text-align: justify;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin: 0;
    line-height:normal;
}

.grid-galeria-experiencia div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*!-----PSEUDOCLASES Y PSEUDOELEMENTOS INDEX-----*/
.Header_Contenedor a:hover{
    color: red;
    text-shadow: -2px -2px 3px red;
}

.Input_Buscar:hover{
    border: 3px solid rgb(0, 194, 0)
}

.Boton_Buscar:hover{
    border: 2px solid rgb(7, 80, 0);
    background-color: rgb(0, 194, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.a_Inicio:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
}

.a_Nosotros:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
}

.a_Productos:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
}

.a_Servicios:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
}

.a_Contacto:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
}

.a_Experiencia:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
}

.productos_ofertas_imperdibles div a:hover{
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.productos_te_puede_interesar div a:hover{
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.conoce_nuestros_servicios_contenedor div a:hover{
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

/*!-----PESUDOCLASES Y PSEUDOELEMENTOS PRODUCTOS-----*/
.Productos_Contenedor div a:hover {
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

/*!-----PESUDOCLASES Y PSEUDOELEMENTOS SERVICIOS-----*/
.Servicios_Contenedor div a:hover{
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

/*!-----PESUDOCLASES Y PSEUDOELEMENTOS CONTACTO-----*/
.EnviarRestablecer input:hover{
    background-color: rgb(0, 194, 0);
    border: 2px solid rgb(7, 80, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
} 

/*!-----MEDIA QUERY INDEX-----*/
@media screen and (max-width:1100px){
    .Navbar_Contenedor ul li a{
        padding: 0px 30px 0px 30px;
    }

    .Header_Contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .barra_de_busqueda{
        margin: 0px 0px 10px 0px;
        width: 100%;
    }

    .Input_Buscar{
        margin:0;
    }
    .Medios_De_Pago h3{
        text-align: center;
    }

    .imagenes_medios_de_pago{
        justify-content: center;
    }

}

@media screen and (max-width:1025px){
    .barra_de_busqueda{
        margin: 0px 0px 10px 0px;
        width: 95%;
    }
}

@media screen and (max-width:991px){
    .boton_navbar{
        margin: 0px 10px 10px 0px;
    }

.boton_navbar_y_logo_navbar_contenedor{
    width: 100%;
    }

    .Navbar_Contenedor ul li a{
        display: block;
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width:650px){
    .Footer_ZeroLag h2{
        font-size: 30px;
    }

    .Footer_ZeroLag p{
        font-size: 12px;
    }

    .Medios_De_Pago h3{
        font-size: 12px;
    }

    .Redes_Sociales h3{
        font-size: 12px;
    }

    .logo_webpay{
        width: 72px;
        height: 24px;
    }

    .logo_mercado_libre{
        width: 73px;
        height: 24px;
    }

    .logo_santander{
        width: 133.5px;
        height: 24px;
    }

    .logo_bancoestado{
        width: 126px;
        height: 24px;
    }

    .logo_fpay{
        width: 58.8px;
        height: 24px;
    }

    .logo_transferencia_bancaria{
        width: 103.11px;
        height: 24px;
    }

    .Derechos_De_Autor p{
        font-size: 10px;
    }
}

@media screen and (max-width:576px){
    .Header_Contenedor a{
        font-size: 30px;
    }

    .Header_Contenedor form input{
        font-size: 12px;
    }

    .Header_Contenedor form button{
        font-size: 12px;
    }

    .Boton_Buscar:hover{
        border: 2px solid rgb(7, 80, 0);
        background-color: rgb(0, 194, 0);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        font-size: 12px;
        font-weight: 600;
    }

    .Navbar_Contenedor ul li a{
        font-size: 12px;
    }

    .Navbar_Contenedor ul li a:hover{
        font-size: 12px;
    }

    .ofertas_imperdibles h2{
        font-size: 20px;
    }

    .productos_ofertas_imperdibles div h3{
        font-size: 12px;
    }

    .ofertas_imperdibles_descripcion_producto{
        font-size: 11px;
    }

    .ofertas_imperdibles_porcentaje_de_descuento{
        font-size:11px;
    }

    .ofertas_imperdibles_precio_normal{
        font-size: 11px;
    }

    .ofertas_imperdibles_precio_producto_con_transferencia{
        font-size: 14px;
    }

    .ofertas_imperdibles_precio_producto_otros_medios_de_pago{
        font-size: 11px;
    }

    .productos_ofertas_imperdibles div a{
        font-size: 10px;
    }

    .productos_ofertas_imperdibles div a:hover{
        font-size: 10px;
    }

    .te_puede_interesar h2 {
        font-size: 20px;
    }

    .productos_te_puede_interesar div h3{
        font-size: 12px;
    }

    .te_puede_interesar_descripcion_producto{
        font-size: 11px;
    }

    .te_puede_interesar_porcentaje_de_descuento{
        font-size:11px;
    }

    .te_puede_interesar_precio_normal{
        font-size: 11px;
    }

    .te_puede_interesar_precio_producto_con_transferencia{
        font-size: 14px;
    }

    .te_puede_interesar_precio_producto_otros_medios_de_pago{
        font-size: 11px;
    }

    .productos_te_puede_interesar div a {
        font-size: 10px;
    }

    .productos_te_puede_interesar div a:hover{
        font-size: 10px;
    }

    .conoce_nuestros_servicios h2{
        font-size: 20px;
    }

    .conoce_nuestros_servicios_contenedor div img{
        width:250px;
        height: 141px;
    }

    .conoce_nuestros_servicios_contenedor div{
        width:254px;
        height: 220px;
    }

    .conoce_nuestros_servicios_contenedor h3{
        font-size: 12px;
    }

    .conoce_nuestros_servicios_contenedor div a{
        font-size: 10px;
    } 

    .conoce_nuestros_servicios_contenedor div a:hover{
        font-size: 10px;
    } 
}

@media screen and (max-width:530px){
    .Footer_Contenedor{
        flex-wrap: wrap;
        justify-content: center;
    }

    .Footer_ZeroLag h2{
        text-align: center;
    }

    .Footer_ZeroLag p{
        text-align: center;
    }

    .Medios_De_Pago h3{
        text-align: center;
        margin: 10px 0px 0px 0px;
    }

    .imagenes_medios_de_pago{
        justify-content: center;
    }
}


/*!-----MEDIA QUERY NOSOTROS-----*/
@media screen and (max-width:1100px){
    .Quienes_Somos{
        padding: 10px 20px 10px 20px;;
    }

    .Quienes_Somos_Contenedor{
        justify-content: center;
        flex-wrap: wrap;
    } 

    .Quienes_Somos h2{
        margin: 0;
    }

    .Quienes_Somos_Contenedor div p{
        width: 100%;
        margin:0;
    }
    .Quienes_Somos_Contenedor img{
        margin: 10px 0px 0px 0px;
    }

    .Nuestra_Mision{
        padding: 10px 20px 10px 20px;
    }

    .Nuestra_Mision h2{
        margin: 0px;
    }

    .Nuestra_Mision_Contenedor{
        flex-wrap: wrap;
        justify-content: center;
    }

    .Nuestra_Mision_Contenedor p{
        margin: 0px;
        width: 100%;
    }

    .Nuestra_Mision_Contenedor img{
        margin: 10px 0px 0px 0px;
    }

    .Lo_Que_Nos_Diferencia{
        padding: 10px 20px 10px 20px;
    }
    
    .Lo_Que_Nos_Diferencia h2{
        margin: 0px;
    }

    .Lo_Que_Nos_Diferencia_Contenedor{
        flex-wrap: wrap;
        justify-content: center;
    }

    .Lo_Que_Nos_Diferencia_Contenedor div p{
        margin: 0px;
        width: 100%;
    }

    .Lo_Que_Nos_Diferencia_Contenedor img{
        margin: 10px 0px 0px 0px;
    }

    .Nuestros_Valores{
        padding: 10px 20px 10px 20px;
    }

    .Nuestros_Valores h2{
        margin: 0px;
    }

    .Nuestros_Valores_Contenedor{
        flex-wrap: wrap;
    }

    .Revolución_Digital{
        padding: 10px 20px 10px 20px;
    }

    .Revolución_Digital h2{
        margin: 0;
    }
}

@media screen and (max-width:576px){
    .Quienes_Somos h2{
        font-size: 30px;
    }

    .Quienes_Somos_Contenedor div p{
        font-size: 14px;
    }

    .Quienes_Somos_Contenedor img{
        width:300px;
        height:141px;
    }

    .Nuestra_Mision h2{
        font-size: 30px;
    }

    .Nuestra_Mision_Contenedor p{
        font-size: 14px;
    }

    .Nuestra_Mision_Contenedor img{
        width: 300px;
        height: 200px;
    }

    .Lo_Que_Nos_Diferencia h2 {
        font-size: 30px;
    }

    .Lo_Que_Nos_Diferencia_Contenedor div p{
        font-size: 14px;
    }

    .Lo_Que_Nos_Diferencia_Contenedor img{
        width: 300px;
        height: 200px;
    }

    .Nuestros_Valores h2{
        font-size: 30px;
    }

    .Nuestros_Valores_Contenedor div img{
        width: 300px;
        height: 200px;
    }

    .Nuestros_Valores_Contenedor div h3{
        font-size: 14px;
    }

    .Nuestros_Valores_Contenedor div p{
        font-size: 14px;
    }

    .Nuestros_Valores_Contenedor div{
        width: 304px;
        height: auto;
    }
    
    .Revolución_Digital h2{
        font-size: 30px;
    }
}

/*!-----MEDIA QUERY PRODUCTOS-----*/
@media screen and (max-width:1100px){
    .Productos{
        padding: 10px 20px 10px 20px;
    }

    .Productos h2{
        margin: 0;
    }
}

@media screen and (max-width:576px){
    .Productos h2{
        font-size: 30px;
    }

    .Productos_Contenedor div h3{
        font-size: 12px;
    }

    .productos_descripcion_producto{
        font-size: 11px;
    }

    .productos_porcentaje_de_descuento{
        font-size: 11px;
    }

    .productos_precio_normal{
        font-size: 11px;
    }

    .producto_precio_producto_con_transferencia{
        font-size: 14px;
    }

    .producto_precio_producto_otros_medios_de_pago{
        font-size: 11px;
    }

    .Productos_Contenedor div a{
        font-size: 10px;
    }

    .Productos_Contenedor div a:hover{
        font-size: 10px;
    }
}

/*!-----!MEDIA QUERY SERVICIOS-----*/
@media screen and (max-width:1100px){
    .Servicios{
    padding: 10px 20px 10px 20px;
    }

    .Servicios h2{
    margin:0;
    }
}

@media screen and (max-width:576px){
    .Servicios h2{
        font-size: 30px;
    }

    .Servicios_Contenedor div img{
        width: 250px;
        height: 141px;
    }

    .Servicios_Contenedor div{
        width: 254px;
        height: 560px;
    }

    .Servicios_Contenedor div h3{
        font-size: 14px;
    }

    .Servicios_Contenedor div p{
        font-size: 14px;
    }

    .Servicios_Contenedor div a{
        font-size: 14px;
    }

    .Servicios_Contenedor div a:hover{
        font-size: 14px;
    }
}

/*!-----MEDIA QUERY CONTACTO-----*/
@media screen and (max-width:1100px){
    .Formulario{
        padding: 10px 0px 0px 0px;
    }

    .Formulario h2{
        margin: 0px 0px 0px 20px
    }

    .Nombre input{
        width: 50%;
    }

    .Apellido input{
        width: 50%;
    }

    .Correo input{
        width: 50%;
    }

    .Contraseña input{
        width: 50%;
    }

    .Informacion_Contacto{
        padding: 10px 20px 10px 20px;
    }

    .Contacto_Contenedor{
        margin-right: 10px;
    }
}
@media screen and (max-width:810px){
    .Contacto_Contenedor{
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width:800px){
    .Nombre input{
        width: 65%;
    }

    .Apellido input{
        width: 65%;
    }

    .Correo input{
        width: 65%;
    }

    .Contraseña input{
        width: 65%;
    }
}

@media screen and (max-width:576px){
    .Formulario h2{
        font-size: 30px;
    }

    .Formulario_Contenedor form div label{
        font-size: 14px;
    }

    .Nombre input{
        font-size: 14px;
        width: 90%;
    }

    .Apellido input{
        font-size: 14px;
        width: 90%;
    }

    .Correo input{
        font-size: 14px;
        width: 90%;
    }

    .Contraseña input{
        font-size: 14px;
        width: 90%;
    }

    .Pais select{
        font-size: 14px;
    }

    .Motivo select{
        font-size: 14px;
    }

    .Mensaje textarea{
        font-size: 14px;
    }

    .EnviarRestablecer input{
        font-size: 14px;
    }

    .EnviarRestablecer input:hover{
        font-size: 14px;
    }

    .Contacto_Contenedor h2{
        font-size: 16px;
    }

    .Contacto_Contenedor p{
        font-size: 14px;
    }
}

@media screen and (max-width:500px){
    .Formulario_Contenedor form{
        width: 80%;
    }
}

@media screen and (max-width:400px){
    .Formulario_Contenedor form{
        width: 90%;
    }
}

@media screen and (max-width:370px){
    .Formulario_Contenedor form{
        width: 95%;
    }
}

/*!-----MEDIA QUERY EXPERIENCIA-----*/
@media screen and (max-width:1100px){
    .grid-galeria-experiencia{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        gap: 30px;}
}

@media screen and (max-width:690px){
    .grid-item-experiencia p{
        font-size: 11px;
    }
}

@media screen and (max-width:650px){
    .grid-galeria-experiencia{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
        gap: 30px;}
}


@media screen and (max-width:576px){
    .Experiencia_ZeroLag h2{
        font-size: 30px;
    }

    .Experiencia_ZeroLag p{
        font-size: 14px;
    }

}