//-----MEDIA QUERY INDEX-----
@media screen and (max-width:1100px) {
    header {

        .navbar {

            .header_navbar_contenedor {

                .header_contenedor {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .boton_navbar_y_logo_navbar_contenedor {
                        .boton_navbar {

                            span {}
                        }

                        .logo_navbar {

                            span {}
                        }
                    }

                    .barra_de_busqueda {
                        margin: 0px 0px 10px 0px;
                        width: 100%;

                        .input_buscar {
                            margin: 0;
                        }

                        .boton_buscar {}
                    }
                }

                .navbar_contenedor {
                    ul {

                        .li_inicio {
                            .a_inicio {
                                padding: 0px 30px 0px 30px;
                            }
                        }

                        .li_nosotros {
                            .a_nosotros {
                                padding: 0px 30px 0px 30px;
                            }
                        }

                        .li_productos {
                            .a_productos {
                                padding: 0px 30px 0px 30px;
                            }
                        }

                        .li_servicios {
                            .a_servicios {
                                padding: 0px 30px 0px 30px;
                            }
                        }

                        .li_contacto {
                            .a_contacto {
                                padding: 0px 30px 0px 30px;
                            }
                        }

                        .li_experiencia {
                            .a_experiencia {
                                padding: 0px 30px 0px 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {

        .footer_contenedor {

            .footer_zeroLag {

                p {}
            }

            .medios_de_pago {
                h3 {
                    text-align: center;
                }

                .imagenes_medios_de_pago {
                    justify-content: center;

                    img {}
                }
            }

            .redes_sociales {

                h3 {}

                a {
                    img {}
                }
            }
        }

        .derechos_de_autor {

            p {}
        }
    }
}

@media screen and (max-width:1025px) {
    header {

        .navbar {

            .header_navbar_contenedor {

                .header_contenedor {

                    .boton_navbar_y_logo_navbar_contenedor {
                        .boton_navbar {

                            span {}
                        }

                        .logo_navbar {

                            span {}
                        }
                    }

                    .barra_de_busqueda {
                        margin: 0px 0px 10px 0px;
                        width: 95%;

                        .input_buscar {}

                        .boton_buscar {}
                    }
                }

                .navbar_contenedor {
                    ul {

                        .li_inicio {
                            .a_inicio {}
                        }

                        .li_nosotros {
                            .a_nosotros {}
                        }

                        .li_productos {
                            .a_productos {}
                        }

                        .li_servicios {
                            .a_servicios {}
                        }

                        .li_contacto {
                            .a_contacto {}
                        }

                        .li_experiencia {
                            .a_experiencia {}
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    header {

        .navbar {

            .header_navbar_contenedor {

                .header_contenedor {

                    .boton_navbar_y_logo_navbar_contenedor {
                        width: 100%;

                        .boton_navbar {
                            margin: 0px 10px 10px 0px;

                            span {}
                        }

                        .logo_navbar {

                            span {}
                        }
                    }

                    .barra_de_busqueda {

                        .input_buscar {}

                        .boton_buscar {}
                    }
                }

                .navbar_contenedor {
                    ul {
                        padding: 0;

                        .li_inicio {
                            .a_inicio {
                                display: block;
                                width: 100%;
                                padding: 0;
                            }
                        }

                        .li_nosotros {
                            .a_nosotros {
                                display: block;
                                width: 100%;
                                padding: 0;
                            }
                        }

                        .li_productos {
                            .a_productos {
                                display: block;
                                width: 100%;
                                padding: 0;
                            }
                        }

                        .li_servicios {
                            .a_servicios {
                                display: block;
                                width: 100%;
                                padding: 0;
                            }
                        }

                        .li_contacto {
                            .a_contacto {
                                display: block;
                                width: 100%;
                                padding: 0;
                            }
                        }

                        .li_experiencia {
                            .a_experiencia {
                                display: block;
                                width: 100%;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:650px) {
    footer {

        .footer_contenedor {

            .footer_zeroLag {

                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 12px;
                }
            }

            .medios_de_pago {
                h3 {
                    font-size: 12px;
                }

                .imagenes_medios_de_pago {

                    .logo_webpay {
                        width: 72px;
                        height: 24px;
                    }

                    .logo_mercado_libre {
                        width: 73px;
                        height: 24px;
                    }

                    .logo_santander {
                        width: 133.5px;
                        height: 24px;
                    }

                    .logo_bancoestado {
                        width: 126px;
                        height: 24px;
                    }

                    .logo_fpay {
                        width: 58.8px;
                        height: 24px;
                    }

                    .logo_transferencia_bancaria {
                        width: 103.11px;
                        height: 24px;
                    }
                }
            }

            .redes_sociales {

                h3 {
                    font-size: 12px;
                }

                a {
                    img {}
                }
            }
        }

        .derechos_de_autor {

            p {
                font-size: 10px;
            }
        }
    }
}

@media screen and (max-width:576px) {
    header {

        .navbar {


            .header_navbar_contenedor {

                .header_contenedor {

                    .boton_navbar_y_logo_navbar_contenedor {
                        .boton_navbar {

                            span {}
                        }

                        .logo_navbar {
                            font-size: 30px;

                            span {}
                        }
                    }

                    .barra_de_busqueda {

                        .input_buscar {
                            font-size: 12px;
                        }

                        .boton_buscar {
                            font-size: 12px;

                            &:hover {
                                font-size: 12px;
                            }
                        }
                    }
                }

                .navbar_contenedor {
                    ul {

                        .li_inicio {
                            .a_inicio {
                                font-size: 12px;

                                &:hover {
                                    font-size: 12px;
                                }
                            }
                        }

                        .li_nosotros {
                            .a_nosotros {
                                font-size: 12px;

                                &:hover {
                                    font-size: 12px;
                                }
                            }
                        }

                        .li_productos {
                            .a_productos {
                                font-size: 12px;

                                &:hover {
                                    font-size: 12px;
                                }
                            }
                        }

                        .li_servicios {
                            .a_servicios {
                                font-size: 12px;

                                &:hover {
                                    font-size: 12px;
                                }
                            }
                        }

                        .li_contacto {
                            .a_contacto {
                                font-size: 12px;

                                &:hover {
                                    font-size: 12px;
                                }
                            }
                        }

                        .li_experiencia {
                            .a_experiencia {
                                font-size: 12px;

                                &:hover {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .ofertas_imperdibles {
        h2 {
            font-size: 20px;
        }

        .productos_ofertas_imperdibles {
            .tarjetas_de_producto_ofertas_imperdibles {
                img {}

                h3 {
                    font-size: 12px;
                }

                .ofertas_imperdibles_descripcion_producto {
                    font-size: 11px;
                }

                .ofertas_imperdibles_precio_normal_y_porcentaje_de_descuento_contenedor {
                    .ofertas_imperdibles_porcentaje_de_descuento {
                        font-size: 11px;
                    }

                    .ofertas_imperdibles_precio_normal {
                        font-size: 11px;
                    }
                }

                .ofertas_imperdibles_precio_producto_con_transferencia {
                    font-size: 14px;
                }

                .ofertas_imperdibles_precio_producto_otros_medios_de_pago {
                    font-size: 11px;
                }

                a {
                    font-size: 10px;

                    &:hover {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .te_puede_interesar {
        h2 {
            font-size: 20px;
        }

        .productos_te_puede_interesar {
            .tarjetas_de_producto_te_puede_interesar {
                img {}

                h3 {
                    font-size: 12px;
                }

                .te_puede_interesar_descripcion_producto {
                    font-size: 11px;
                }

                .te_puede_interesar_precio_normal_y_porcentaje_de_descuento_contenedor {
                    .te_puede_interesar_porcentaje_de_descuento {
                        font-size: 11px;
                    }

                    .te_puede_interesar_precio_normal {
                        font-size: 11px;
                    }
                }

                .te_puede_interesar_precio_producto_con_transferencia {
                    font-size: 14px;
                }

                .te_puede_interesar_precio_producto_otros_medios_de_pago {
                    font-size: 11px;
                }

                a {
                    font-size: 10px;

                    &:hover {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .conoce_nuestros_servicios {
        h2 {
            font-size: 20px;
        }

        .conoce_nuestros_servicios_contenedor {
            div {
                width: 254px;
                height: 220px;

                img {
                    width: 250px;
                    height: 141px;
                }

                h3 {
                    font-size: 12px;
                }

                a {
                    font-size: 10px;

                    &:hover {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:530px) {
    footer {

        .footer_contenedor {
            flex-wrap: wrap;
            justify-content: center;

            .footer_zerolag {

                h2 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }

            .medios_de_pago {
                h3 {
                    text-align: center;
                    margin: 10px 0px 0px 0px;
                }

                .imagenes_medios_de_pago {
                    justify-content: center;

                    img {}
                }
            }

            .redes_sociales {


                h3 {}

                a {
                    img {}
                }
            }
        }

        .derechos_de_autor {

            p {}
        }
    }
}

//-----MEDIA QUERY NOSOTROS-----//
@media screen and (max-width:1100px) {
    .quienes_somos {
        padding: 10px 20px 10px 20px;

        h2 {
            margin: 0;
        }

        .quienes_somos_contenedor {
            justify-content: center;
            flex-wrap: wrap;

            div {
                p {
                    width: 100%;
                    margin: 0;
                }
            }

            img {
                margin: 10px 0px 0px 0px;
            }
        }
    }

    .nuestra_mision {
        padding: 10px 20px 10px 20px;

        h2 {
            margin: 0px;
        }

        .nuestra_mision_contenedor {
            flex-wrap: wrap;
            justify-content: center;

            div {
                p {
                    margin: 0px;
                    width: 100%;
                }
            }

            img {
                margin: 10px 0px 0px 0px;
            }
        }
    }

    .lo_que_nos_diferencia {
        padding: 10px 20px 10px 20px;

        h2 {
            margin: 0px;
        }

        .lo_que_nos_diferencia_contenedor {
            flex-wrap: wrap;
            justify-content: center;

            div {
                p {
                    margin: 0px;
                    width: 100%;
                }
            }

            img {
                margin: 10px 0px 0px 0px;
            }
        }
    }

    .nuestros_valores {
        padding: 10px 20px 10px 20px;

        h2 {
            margin: 0px;
        }

        .nuestros_valores_contenedor {
            flex-wrap: wrap;

            div {

                img {}

                h3 {}

                p {}
            }
        }
    }

    .revolución_digital {
        padding: 10px 20px 10px 20px;

        h2 {
            margin: 0;
        }
    }
}

@media screen and (max-width:576px) {
    .quienes_somos {
        h2 {
            font-size: 30px;
        }

        .quienes_somos_contenedor {

            div {
                p {
                    font-size: 14px;
                }
            }

            img {
                width: 300px;
                height: 141px;
            }
        }
    }

    .nuestra_mision {
        h2 {
            font-size: 30px;
        }

        .nuestra_mision_contenedor {

            div {
                p {
                    font-size: 14px;
                }
            }

            img {
                width: 300px;
                height: 200px;
            }
        }
    }

    .lo_que_nos_diferencia {
        h2 {
            font-size: 30px;
        }

        .lo_que_nos_diferencia_contenedor {

            div {
                p {
                    font-size: 14px;
                }
            }

            img {
                width: 300px;
                height: 200px;
            }
        }
    }

    .nuestros_valores {
        h2 {
            font-size: 30px;
        }

        .nuestros_valores_contenedor {

            div {
                width: 304px;
                height: auto;

                img {
                    width: 300px;
                    height: 200px;
                }

                h3 {
                    font-size: 14px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

    .revolución_digital {
        h2 {
            font-size: 30px;
        }
    }
}

//-----MEDIA QUERY PODUCTOS-----//
@media screen and (max-width:1100px) {
    .productos {
        padding: 10px 20px 10px 20px;

        h2 {
            margin: 0;
        }

        .productos_contenedor {

            .tarjetas_de_productos_productos {

                img {}

                h3 {}

                .productos_descripcion_producto {}

                .productos_precio_normal_y_porcentaje_de_descuento_contenedor {

                    .productos_porcentaje_de_descuento {}

                    .productos_precio_normal {}
                }

                .producto_precio_producto_con_transferencia {}

                .producto_precio_producto_otros_medios_de_pago {}

                a {}

            }
        }
    }
}

@media screen and (max-width:576px) {
    .productos {
        h2 {
            font-size: 30px;
        }

        .productos_contenedor {

            .tarjetas_de_productos_productos {

                img {}

                h3 {
                    font-size: 12px;
                }

                .productos_descripcion_producto {
                    font-size: 11px;
                }

                .productos_precio_normal_y_porcentaje_de_descuento_contenedor {

                    .productos_porcentaje_de_descuento {
                        font-size: 11px;
                    }

                    .productos_precio_normal {
                        font-size: 11px;
                    }
                }

                .producto_precio_producto_con_transferencia {
                    font-size: 14px;
                }

                .producto_precio_producto_otros_medios_de_pago {
                    font-size: 11px;
                }

                a {
                    font-size: 10px;

                    &:hover {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

//-----MEDIA QUERY SERVICIOS-----//
@media screen and (max-width:1100px) {
    .servicios {
        padding: 10px 20px 10px 20px;

        h2 {
            margin: 0;
        }

        .servicios_contenedor {

            div {

                img {}

                h3 {}

                p {}

                a {}
            }
        }
    }
}

@media screen and (max-width:576px) {
    .servicios {
        h2 {
            font-size: 30px;
        }

        .servicios_contenedor {

            div {
                width: 254px;
                height: 560px;

                img {
                    width: 250px;
                    height: 141px;
                }

                h3 {
                    font-size: 14px;
                }

                p {
                    font-size: 14px;
                }

                a {
                    font-size: 14px;

                    &:hover {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

//-----MEDIA QUERY CONTACTO-----//
@media screen and (max-width:1100px) {
    .formulario {
        padding: 10px 0px 0px 0px;

        h2 {
            margin: 0px 0px 0px 20px
        }

        .formulario_contenedor {

            form {

                .nombre {

                    label {}

                    input {
                        width: 50%;
                    }
                }

                .apellido {

                    label {}

                    input {
                        width: 50%;
                    }
                }

                .correo {

                    label {}

                    input {
                        width: 50%;
                    }
                }

                .contraseña {

                    label {}

                    input {
                        width: 50%;
                    }
                }

                .genero {
                    label {}

                    div {
                        label {}

                        input {}
                    }
                }

                .pais {

                    label {}

                    select {

                        option {}
                    }
                }

                .motivo {

                    label {}

                    select {

                        option {}
                    }
                }

                .mensaje {

                    label {}

                    textarea {}
                }

                .enviar_restablecer {

                    input {}
                }
            }
        }
    }

    .informacion_contacto {
        padding: 10px 20px 10px 20px;

        iframe {}

        .contacto_contenedor {
            margin-right: 10px;

            h2 {}

            p {}

            h2 {}

            p {}
        }
    }
}

@media screen and (max-width:810px) {
    .formulario {
        h2 {}

        .formulario_contenedor {

            form {

                .nombre {

                    label {}

                    input {}
                }

                .apellido {

                    label {}

                    input {}
                }

                .correo {

                    label {}

                    input {}
                }

                .contraseña {

                    label {}

                    input {}
                }

                .genero {
                    label {}

                    div {
                        label {}

                        input {}
                    }
                }

                .pais {

                    label {}

                    select {

                        option {}
                    }
                }

                .motivo {

                    label {}

                    select {

                        option {}
                    }
                }

                .mensaje {

                    label {}

                    textarea {}
                }

                .enviar_restablecer {

                    input {}
                }
            }
        }
    }

    .informacion_contacto {

        iframe {}

        .contacto_contenedor {
            margin-top: 10px;
            text-align: center;

            h2 {}

            p {}

            h2 {}

            p {}
        }
    }
}

@media screen and (max-width:800px) {
    .formulario {
        h2 {}

        .formulario_contenedor {

            form {

                .nombre {

                    label {}

                    input {
                        width: 65%;
                    }
                }

                .apellido {

                    label {}

                    input {
                        width: 65%;
                    }
                }

                .correo {

                    label {}

                    input {
                        width: 65%;
                    }
                }

                .contraseña {

                    label {}

                    input {
                        width: 65%;
                    }
                }

                .genero {
                    label {}

                    div {
                        label {}

                        input {}
                    }
                }

                .pais {

                    label {}

                    select {

                        option {}
                    }
                }

                .motivo {

                    label {}

                    select {

                        option {}
                    }
                }

                .mensaje {

                    label {}

                    textarea {}
                }

                .enviar_restablecer {

                    input {}
                }
            }
        }
    }

    .informacion_contacto {

        iframe {}

        .contacto_contenedor {
            h2 {}

            p {}

            h2 {}

            p {}
        }
    }
}

@media screen and (max-width:576px) {
    .formulario {
        h2 {
            font-size: 30px;
        }

        .formulario_contenedor {

            form {

                .nombre {

                    label {
                        font-size: 14px;
                    }

                    input {
                        font-size: 14px;
                        width: 90%;
                    }
                }

                .apellido {

                    label {
                        font-size: 14px;
                    }

                    input {
                        font-size: 14px;
                        width: 90%;
                    }
                }

                .correo {

                    label {
                        font-size: 14px;
                    }

                    input {
                        font-size: 14px;
                        width: 90%;
                    }
                }

                .contraseña {

                    label {
                        font-size: 14px;
                    }

                    input {
                        font-size: 14px;
                        width: 90%;
                    }
                }

                .genero {
                    label {
                        font-size: 14px;
                    }

                    div {
                        label {}

                        input {}
                    }
                }

                .pais {

                    label {
                        font-size: 14px;
                    }

                    select {
                        font-size: 14px;

                        option {}
                    }
                }

                .motivo {

                    label {
                        font-size: 14px;
                    }

                    select {
                        font-size: 14px;

                        option {}
                    }
                }

                .mensaje {

                    label {
                        font-size: 14px;
                    }

                    textarea {
                        font-size: 14px;
                    }
                }

                .enviar_restablecer {

                    input {
                        font-size: 14px;

                        &:hover {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .informacion_contacto {

        iframe {}

        .contacto_contenedor {
            h2 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }

            h2 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .formulario {
        h2 {}

        .formulario_contenedor {

            form {
                width: 80%;

                .nombre {

                    label {}

                    input {}
                }

                .apellido {

                    label {}

                    input {}
                }

                .correo {

                    label {}

                    input {}
                }

                .contraseña {


                    label {}

                    input {}
                }

                .genero {
                    label {}

                    div {
                        label {}

                        input {}
                    }
                }

                .pais {

                    label {}

                    select {

                        option {}
                    }
                }

                .motivo {

                    label {}

                    select {

                        option {}
                    }
                }

                .mensaje {

                    label {}

                    textarea {}
                }

                .enviar_restablecer {

                    input {}
                }
            }
        }
    }

    .informacion_contacto {

        iframe {}

        .contacto_contenedor {
            h2 {}

            p {}

            h2 {}

            p {}
        }
    }
}

@media screen and (max-width:400px) {
    .formulario {
        h2 {}

        .formulario_contenedor {

            form {
                width: 90%;


                .nombre {

                    label {}

                    input {}
                }

                .apellido {

                    label {}

                    input {}
                }

                .correo {


                    label {}

                    input {}
                }

                .contraseña {


                    label {}

                    input {}
                }

                .genero {
                    label {}

                    div {
                        label {}

                        input {}
                    }
                }

                .pais {

                    label {}

                    select {

                        option {}
                    }
                }

                .motivo {

                    label {}

                    select {


                        option {}
                    }
                }

                .mensaje {

                    label {}

                    textarea {}
                }

                .enviar_restablecer {

                    input {}
                }
            }
        }
    }

    .informacion_contacto {

        iframe {}

        .contacto_contenedor {
            h2 {}

            p {}

            h2 {}

            p {}
        }
    }
}

@media screen and (max-width:370px) {
    .formulario {
        h2 {}

        .formulario_contenedor {

            form {
                width: 95%;

                .nombre {

                    label {}

                    input {}
                }

                .apellido {

                    label {}

                    input {}
                }

                .correo {


                    label {}

                    input {}
                }

                .contraseña {


                    label {}

                    input {}
                }

                .genero {
                    label {}

                    div {
                        label {}

                        input {}
                    }
                }

                .pais {

                    label {}

                    select {

                        option {}
                    }
                }

                .motivo {

                    label {}

                    select {


                        option {}
                    }
                }

                .mensaje {

                    label {}

                    textarea {}
                }

                .enviar_restablecer {

                    input {}
                }
            }
        }
    }

    .informacion_contacto {

        iframe {}

        .contacto_contenedor {
            h2 {}

            p {}

            h2 {}

            p {}
        }
    }
}

//-----MEDIA QUERY EXPERIENCIA-----//
@media screen and (max-width:1100px) {
    .experiencia_zerolag {

        h2 {}

        p {}

        h2 {}
    }

    .grid-galeria-experiencia {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        gap: 30px;
    }


    .grid-item-experiencia {

        img {}

        p {}
    }
}

@media screen and (max-width:690px) {
    .experiencia_zerolag {

        h2 {}

        p {}

        h2 {}
    }

    .grid-galeria-experiencia {}


    .grid-item-experiencia {

        img {}

        p {
            font-size: 11px;
        }
    }
}

@media screen and (max-width:650px) {
    .experiencia_zerolag {


        h2 {}

        p {}

        h2 {}
    }

    .grid-galeria-experiencia {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
        gap: 30px;

        .grid-item-experiencia {

            img {}

            p {}
        }
    }
}

@media screen and (max-width:576px) {
    .experiencia_zerolag {

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 14px;
        }

        h2 {
            font-size: 30px;
        }
    }

    .grid-galeria-experiencia {


        .grid-item-experiencia {


            img {}

            p {}
        }
    }
}